square-side = 100px
square-diagonal = ceil(square-side * math(2, 'sqrt'))
square-margin = (square-diagonal - square-side) / 2
triangle-height = math(3, 'sqrt') / 2 * square-diagonal
triangle-wide = ceil(square-side * 3 / math(3, 'sqrt'))
triangle-wide-height = ceil(math(3, 'sqrt') / 2 * triangle-wide)
circle-diameter = square-side * 2

body
  height: 8000px

.polymorph
  display: block
  position: fixed
  border: 1px solid transparent
  overflow: hidden
  margin: 0
  transition: all .5s linear
  width: circle-diameter
  height: circle-diameter
  border-radius: 50%

  // square
  .top, .bottom
    transform-origin: 50%
    transition: all .5s linear
    content: ''
    display: block
    width: 0
    height: 0
    border-left: (square-diagonal * .5) solid transparent
    border-right: (square-diagonal * .5) solid transparent
    margin-left: (circle-diameter - square-diagonal) * .5

  .top
    margin-top: (circle-diameter - square-diagonal) * .5
    border-bottom: (square-diagonal * .5) solid

  .bottom
    border-top: (square-diagonal * .5) solid

  // triangle
  &:hover
    .top
      margin-top: (circle-diameter - square-diagonal * math(3, 'sqrt') / 1.5) * .5
      border-bottom-width: triangle-height
    .bottom
      border-top-width: 0

  // circle
  &:active
    width: square-side
    height: square-side
    margin: (square-side / 2) 0 0 (square-side / 2)

    .top, .bottom
      margin-left: (square-diagonal - triangle-wide) * .5 - square-margin
      border-left-width: triangle-wide * .5
      border-right-width: triangle-wide * .5

    .top
      margin-top: square-side * -.5
      border-bottom-width: triangle-wide-height
